<div style="width: 600px;margin:auto">
    <img style="width: 600px" src="https://www.logopik.com/wp-content/uploads/edd/2019/01/Weight-Loss-Logo-Vector-Template.png">
</div>

<h1 align="center">Welcome to the Food Logger App!</h1>

<% if name = session[:name] %>
  <p>Welcome <%= name -%>! We know who you are thanks to Omniauth!</p>
  <p>You were authenticated by  <%= session[:omniauth_data]['provider'] %></p>
<% else %>
  <p><%# link_to 'SignIn GitHub', '/auth/github'%></p>
<% end %>