<h1>Welcome, <%= @user.name.titleize %>.</h1>

<h4>Today's Stats:</h4>
<br>
Meals: 2<br>
Foods: 4<br>
<br>
Carbs: 34<br>
Fats: 35<br>
Proteins: 57<br>
<br>
Calories Eaten: 1356<br>
Calories Left: 740<br>

<%= link_to 'Edit Profile', edit_user_path %>