 <h1> All of the Meals </h1> 

 <%= link_to 'Create Meal', new_meal_path(@meal) %>


Last Meal:

@meal.

Today's Meals:

<ul>
  <% @meals.each do |meal| %>
    <li><%= link_to "View #{meal.name}", meal_path(meal) %></li>

  <% end %>
</ul>
