 <h1> Meals </h1> 
 
<ul>
  <% @meals.each do |meal| %>
    <% if current_user.admin %>
      <li><%= link_to "Show #{meal.name}", meal_path(meal) %></li>
    <% else %>
      <li><%= link_to "Go on #{meal.name}", meal_path(meal) %></li>
    <% end %>
  <% end %>
</ul>