  <h2>All of the Foods</h2>

  <%= link_to 'Create Food', new_food_path(@food) %>

<ul>
  <% @foods.each do |food| %>
    <% if current_user.admin %>
      <li><%= link_to "Edit #{food.name}", food_path(food) %></li>
    <% else %>
      <li><%= link_to "#{food.name}", food_path(food) %></li>
    <% end %>
  <% end %>
</ul>