  <h1>All of the Foods</h1>

  <%= link_to 'Create Food', new_food_path(@food) %>

  <ul>
  <li>drop_down Food link_to</li><br>
  <li>link_to Favorite Foods (most used)</li>

</ul>
  
<ul>
  <% @foods.each do |food| %>
    <% if current_user.admin %>
      <li><%= link_to "Edit #{food.name}", food_path(food) %></li>
    <% else %>
      <li><%= link_to "#{food.name}", food_path(food) %></li>
    <% end %>
  <% end %>
</ul>